* {
     margin: 0 
}
body  {
  background-image: url("images/bgImg.jpg");
  background-color: #cccccc;
}
 html, body {
     height: 100%;
}
 body {
     font: 20px Montserrat, sans-serif;
     line-height: 1.8;
     color: #f5f6f7;
}
 .wrapper {
     min-height: 100%;
     height: auto !important;
     height: 100%;
     margin: 0 auto -109px;
}
 p {
    font-size: 16px;
}
 .margin {
    margin-bottom: 45px;
}
 .bg-2 {
     background-color: #2f2f2f;
    /* Black Gray */
     color: #fff;
}
 .bg-1 {
     background-color: #ffffff;
    /* White */
     color: #555555;
}
 .container-fluid {
     padding-bottom: 70px;
}
 .navbar {
     padding-top: 15px;
     padding-bottom: 15px;
     border: 0;
     border-radius: 0;
     margin-bottom: 0;
     font-size: 12px;
     letter-spacing: 5px;
}
 .navbar-nav li a:hover {
     color: #1abc9c !important;
}
 .green-border-focus .form-control:focus {
     border: 1px solid #00FFFF;
     box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}
 .bg-2 ul {
     margin: 0;
     padding: 0;
     list-style: none;
     margin-left: 300px;
     margin-top: 0px 
}
 .bg-2 ul li:first-child {
     margin-left: 0px 
}
 .bg-2 ul li a {
     float: left;
     line-height: 40px;
     color: #e0e0e0;
     height: 40px;
     width: 40px;
     text-align: center;
     margin-bottom: 10px;
     border: 1px solid #e0e0e0 
}
 .gap {
     margin-right: 30px 
}
 .container {
     position: relative;
     width: 100%;
    /* for IE 6 */
}
 .portfolio_text{
     width: 100%;
     font-size:24px;
     text-align:center;
     color:#4e80c4;
     font-weight:bold;
     margin-bottom:20px;
}
 #section_line {
     background: #dddddd;
     height: 5px;
}
 .social_icons_rounded ul li a i {
     font-size: 16px 
}
 .f_github:hover {
     color: #fff;
     background: #2a66b3;
     border: 1px solid #2a66b3 
}
 .linkedin:hover {
     color: #fff;
     background: #2a66b3;
     border: 1px solid #2a66b3 
}
 #main_block {
     max-width: 960px;
     margin: 0 auto;
     justify-content: space-between;
}
 .clearfix {
     overflow: auto;
}
 .profile_image {
     width:100%;
     max-width:400px;
}
 * {
     box-sizing: border-box;
}
 .img-container {
     padding: 5px;
     clear:both;
     float:left;
     width:100% 
}
 .img-container img{
    display:block;
    max-width:350px;
    width:100%
}
form{
	margin-bottom:60px
}
footer{
    clear: both;
    margin-top: 60px;
    padding: 10px 0;
    height:40px;
    
}

.pic{
	height:200px;
	overflow:hidden;
    }
    .clock-day:before {
        content: var(--timer-day);
      }
      .clock-hours:before {
        content: var(--timer-hours);
      }
      .clock-minutes:before {
        content: var(--timer-minutes);
      }
      .clock-seconds:before {
        content: var(--timer-seconds);
      }
      
      
      
      .clock-container {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: #080808;
        border-radius: 5px;
        padding: 60px 20px;
        box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15), 0 15px 90px 30px rgba(0, 0, 0, 0.25);
        display: -webkit-box;
        display: flex;
      }
      .clock-col {
        text-align: center;
        margin-right: 40px;
        margin-left: 40px;
        min-width: 90px;
        position: relative;
      }
      .clock-col:not(:last-child):before, .clock-col:not(:last-child):after {
        content: "";
        background-color: rgba(255, 255, 255, 0.3);
        height: 5px;
        width: 5px;
        border-radius: 50%;
        display: block;
        position: absolute;
        right: -42px;
      }
      .clock-col:not(:last-child):before {
        top: 35%;
      }
      .clock-col:not(:last-child):after {
        top: 50%;
      }
      .clock-timer:before {
        color: #fff;
        font-size: 4.2rem;
        text-transform: uppercase;
      }
      .clock-label {
        color: rgba(255, 255, 255, 0.35);
        text-transform: uppercase;
        font-size: .7rem;
        margin-top: 10px;
      }
      
      @media (max-width: 825px) {
        .clock-container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column;
          padding-top: 40px;
          padding-bottom: 40px;
        }
      
        .clock-col + .clock-col {
          margin-top: 20px;
        }
        .clock-col:before, .clock-col:after {
          display: none !important;
        }
      }